@import "./utils";

.container {
  @include flexDiv(column, center, start);
  padding: 50px 20px 20px 20px;
  height: auto;
  min-height: 80vh;
  width: 100%;
  .title {
    @include flexDiv(column, center, center);
  }

  .cardContainer {
    @include flexDiv(row, center, space-around);
    flex-wrap: wrap;
    gap: 50px;

    .card {
      @include card;
      @include flexDiv(column, center, start);
      padding: 20px;

      .cardActionsContainer {
        @include flexDiv(row, center, space-around);
        gap: 10px;

        .cardActions{
          @include button2(50px,30px);
        }
      }
    }
  }
}
