// Base styles for the modal
@import "./utils";

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  .modal {
    position: relative;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 9999;

    .modalContent {
      background-color: #fff;
      max-width: 400px;
      margin: auto;
      padding: 20px;
      border-radius: 5px;
      height: 100%;
      width: 100%;

      .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;

        .modalTitle {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
        }

        .modalClose {
          cursor: pointer;
          font-size: 24px;
          color: #888;

          &:hover {
            color: #555;
          }
        }
      }

      .modalBody {
        padding: 10px 0;
        min-height: 100px;
      }

      .modalFooter {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        gap: 10px;

        .btn {
          @include button1(70px, 30px);
        }
      }
    }
  }
}
